.chess-board {
  display: inline-grid;
  grid-template-columns: repeat(8, 65px);
  grid-template-rows: repeat(8, 65px);
  gap: 1px;
  border: 1px solid black;
}
.chess-board .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid black;
}
.chess-board .cell.empty .pawn-face {
  display: none;
}
.chess-board .pawn-face {
  font-size: var(--font-size-xl);
}
.chess-board .pawn-face.white {
  color: var(--color-white);
}
.chess-board .pawn-face.black {
  color: var(--color-black);
}

.command-form {
  margin-top: 20px;
}
.command-form form {
  display: flex;
  align-items: center;
}
.command-form form input[type=text] {
  padding: 6px 10px;
  font-size: var(--font-size-l);
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  width: 20rem;
}
.command-form form input[type=text]::placeholder {
  color: var(--color-light-black);
}
.command-form form input[type=text]:focus {
  border-color: #007bff;
}
.command-form form input[type=submit] {
  margin-left: 10px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: var(--color-primary-rotate);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
.command-form form input[type=submit]:hover {
  background-color: var(--color-primary);
}

.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
}

.flash {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);
}
.flash__message {
  font-size: var(--font-size-m);
  color: var(--color-white);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--color-dark);
  animation: appear-then-fade 4s both;
  border-radius: 999px;
}
.flash__error {
  font-size: var(--font-size-m);
  color: var(--color-black);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--color-primary);
  animation: appear-then-fade 4s both;
  border-radius: 999px;
}
.flash__notice {
  font-size: var(--font-size-m);
  color: var(--color-black);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--color-secondary-rotate);
  animation: appear-then-fade 8s both;
  border-radius: 999px;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity: 0;
  }
  5%, 60% {
    opacity: 1;
  }
}
:root {
  --font-family-sans: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --line-height-headers: 1.1;
  --line-height-body: 1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body: hsl(0, 5%, 25%);
  --color-text-muted: hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary: hsl(346, 100%, 59%);
  --color-primary-rotate: hsl(10, 73%, 54%);
  --color-primary-bg: hsl(0, 85%, 96%);
  --color-secondary: hsl(101, 45%, 56%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary: hsl(49, 89%, 64%);
  --color-glint: hsl(210, 100%, 82%);
  --color-light-black: hsl(180, 0%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-background: hsl(30, 50%, 98%);
  --color-light: hsl(0, 6%, 93%);
  --color-dark: var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);
}
